$gray: #F5F5F5;
$gray-light: #F5F5F5;
$gray-dark: #eaeaea;

$green: #72E5C3;
$green-light: rgba(142, 207, 184, 0.8);
$green-dark: rgba(142, 207, 184, 0.8);

$orange: #FFB45C;
$orange-light: rgba(255, 180, 92, 0.25);
$orange-dark: rgba(255, 180, 92, 0.25);

$blue: #78BEFF;
$blue-light: rgba(120, 190, 255, 0.25);
$blue-dark: rgba(120, 190, 255, 0.25);

$red: #F5ABA0;
$red-light: rgba(245, 171, 160, 0.25);
$red-dark: #E48C80;

// Text

$text-gray: #B0B0B0;
$text-gray-dark: #5F5F5F;

// Shadows

$shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.05);
$shadow-lighter: 0px 1px 2px rgba(0, 0, 0, 0.05);
