$gray-light: #F5F5F5;
$gray-dark: #eaeaea;

$green: #72E5C3;
$green-faded: rgba(142, 207, 184, 0.8);

$orange: #FFB45C;
$orange-light: rgba(255, 180, 92, 0.25);

$blue: #78BEFF;
$blue-light: rgba(120, 190, 255, 0.25);

$red: #F5ABA0;
$red-light: rgba(245, 171, 160, 0.25);

// Text

$text-gray: #B0B0B0;
$text-gray-dark: #5F5F5F;
