.c-contact {
    height: calc(100% - 100px);
    padding: 40px 100px 0 100px;

    .title {
        color: $red;

        & .is-light {
            color: $red-light;
        }
    }

    .title-bar {
        background-color: $red-light;
        margin-left: 0px;
    }

    & section {
        display: flex;
        justify-content: space-between;
        margin-top: 148px;
    }
}

.c-contact__info {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.c-contact__title {
    font-family: Noto Sans;
    font-size: 32px;
    letter-spacing: 1px;
    color: $text-gray-dark;
}

.c-contact__channels {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 80px;
    width: 100%;
    max-width: 600px;
}

.c-contact__button {
    width: 200px;
    height: 30px;
    margin: 0 20px 50px 20px;
}
