.c-contact {
    height: calc(100% - 100px);
    padding: 40px 100px 0 100px;

    .title {
        color: $red;

        & .is-light {
            color: $red-light;
        }
    }

    .title-bar {
        background-color: $red-light;
        margin-left: 0px;
    }

    & section {
        display: flex;
        justify-content: space-between;
        margin-top: 148px;
    }
}

.c-contact__info {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.c-contact__title {
    font-family: Noto Sans;
    font-size: 32px;
    letter-spacing: 1px;
    color: $text-gray-dark;
}

.c-contact__channels {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 80px;
    width: 100%;
    max-width: 600px;
}

.c-contact__button {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 200px;
    height: 50px;
    margin: 0 20px 50px 20px;
    background-color: $red;
    border: none;
    border-bottom: 5px $red-dark solid;
    border-radius: 2px;
    font-size: 24px;
    color: #FFF;

    &:active {
        transform: translateY(4px);
        border-bottom: 1px $red-dark solid;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: #f9b2a8;
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }

    @keyframes ripple {
        0% {
            transform: scale(0, 0);
            opacity: 1;
        }
        20% {
            transform: scale(25, 25);
            opacity: 1;
        }
        80% {
            transform: scale(50, 50);
            opacity: 0.5;
        }
        100% {
            opacity: 0;
            transform: scale(70, 70);
        }
    }

    &:focus:not(:active)::after {
        animation: ripple 1s ease-out;
    }
}
