.c-home {
    background-image: url(../images/bg.jpg);
    // background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(../images/bg.jpg);
    opacity: 0.8;
    filter: grayscale(50%);
    background-size: cover;
    background-repeat: no-repeat;
}
