.c-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
}

.c-navbar__list {
    display: flex;
    justify-content: space-around;
}

.c-navbar__list--left {
    position: relative;
    width: 40%;

    &.is-about .c-navbar__item {
        color: $orange;

        &:after {
            background-color: $orange-light;
        }
    }

    &.is-work .c-navbar__item {
        color: $blue;

        &:after {
            background-color: $blue-light;
        }
    }

    &.is-contact .c-navbar__item {
        color: $red;

        &:after {
            background-color: $red-light;
        }
    }

    .c-navbar__item {
        position:relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 32px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 2px;
        color: $green;
        transition-duration: 0.5s;
        transition-property: color;
        outline: none;

        &.is-active {
            color: #FFF;
            transition-duration: 0.25s;
            transition-property: color;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 5px;
            background: $green-light;
            opacity: 0;
            border-radius: 100%;
            transform: scale(1, 1) translate(-50%);
            transform-origin: 50% 50%;
        }

        @keyframes ripple {
            0% {
                transform: scale(0, 0);
                opacity: 1;
            }
            20% {
                transform: scale(25, 25);
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: scale(40, 40);
            }
        }

        &:focus:not(:active)::after {
            animation: ripple 1s ease-out;
        }
    }

    .c-navbar__active-item {
        position: absolute;
        z-index: -1;
        top: -1px;
        left: 0;
        width: 90px;
        height: 32px;
        background-color: $green;
        transition-duration: 0.5s;
        transition-property: background-color;

        &.is-about {
            background-color: $orange;
        }

        &.is-work {
            background-color: $blue;
        }

        &.is-contact {
            background-color: $red;
        }
    }
}

.c-navbar__list--right {
    width: 100%;
    max-width: 60px;

    .c-navbar__item {
        font-size: 14px;
        font-weight: 300;
        color: $text-gray-dark;
        cursor: pointer;

        &.is-active {
            font-weight: normal;
            color: $text-gray-dark;
        }
    }
}
