.o-tag {
    padding: 8px 16px;
    font-family: Quicksand;
    font-weight: 500;
    color: $green;
    border: 2px solid $green;
    border-radius: 24px;

    &.o-tag--small {
        font-size: 14px;
        padding: 6px 12px;
        border-width: 2px;
    }
}
